SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:1e:06:45:08:3d", NAME="WAN"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:1e:06:45:08:3e", NAME="LAN"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:25:22:4e:06:6c", NAME="WIFI"
